<!-- Content Slider -->

<!--   <div class="row">
    <div class="twelve columns hide-for-small">
      <div id="featured">
        <div>
          <h1>Most Recent Challenge</h1>
          <p><%= @challenges.last.description %></p>
          <p>
            <%= link_to("View challenge", challenge_path(@challenges.last), class: 'btn btn-primary btn-large') %>
            <%= link_to("Submit Solution", new_challenge_solution_path(@challenges.last), class: 'btn btn-success btn-large') %>
          </p>
        </div>
        <div class="slide">My Stuff</div>
        <div class="slide">My Stuff</div>
      </div>
  </div>
</div> -->

<!-- End Content Slider -->

<div class="hero-unit">
  <h1>Current Challenge</h1>
  <p><%= @challenges.last.description %></p>
  <p>
    <%= link_to("View challenge", challenge_path(@challenges.last), class: 'btn btn-primary btn-large') %>
    <%= link_to("Submit Solution", new_challenge_solution_path(@challenges.last), class: 'btn btn-warning btn-large') %>
  </p>
</div>
