<p id="notice"><%= notice %></p>

<h3><%= @challenge.title %></h3>

<% if @challenge.gist_url.present? %>
  <p>
    <b>Url:</b>
    <%= link_to(@challenge.gist_url, @challenge.gist_url) %>
  </p>
<% end %>

<p>
  <strong>Description:</strong><br />
  <%= @challenge.description %>
</p>

<p>
  <strong>Source:</strong><br />
  <%= @challenge.source %>
</p>

<% if can?(:edit, @solution) %>
  <%= link_to 'Edit', edit_challenge_path(@challenge) %>
<% end %>
