<p id="notice"><%= notice %></p>

<% if @challenge.gist_url.present? %>
  <p>
    <b>Gist url:</b>
    <%= link_to(@challenge.gist_url, @challenge.gist_url) %>
  </p>
<% end %>

<p>
  <b>Challenge description:</b><br />
  <%= @challenge.description %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
