<%= nested_form_for(@solution, url: challenge_solution_path(@challenge, @solution), method: :put, html: { class: 'form-inline' } ) do |f| %>

  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :challenge_id, value: @solution.challenge_id %>

  <% if can?(:manage, Solution) %>
    <div class="field">
      <%= f.label :valid_solution %>
      <%= f.check_box :valid_solution %>
    </div>
  <% end %>

  <div class="span11" style="position:relative;height:400px">
    <div id="editor"><%= f.object.source %></div>
  </div>

  <br /><br />

  <%= f.hidden_field :source, class: 'challenge-description'  %>

  <br />

  <div class="actions">
    <%= f.submit 'Update Solution', class: 'btn btn-success', id: 'submit-solution' %>
  </div>

<% end %>
<%= javascript_include_tag "http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" %>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>