<div class="span8 well">
  <h4>Solution for</h4>
  <%= @challenge.title %>

  <h4>Description</h4>
  <%= @challenge.description %>
</div>

<div class="span8">
  <%= nested_form_for(@challenge, html: { class: 'form-inline' } ) do |f| %>
    <%= fields_for @solution do |ff| %>
      <% if @solution.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

          <ul>
          <% @solution.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= ff.hidden_field :challenge_id, value: @solution.challenge_id %>

      <div class="field">
        <%= ff.label :title %>
        <%= ff.text_field :title %>
      </div>

      <br />

      <% if can?(:manage, Solution) %>
        <div class="field">
          <%= ff.label :valid_solution %>
          <%= ff.check_box :valid_solution %>
        </div>
      <% end %>

      <div class="span10" style="position:relative;height:400px">
        <div id="editor"></div>
      </div>

      <%= ff.hidden_field :source, class: 'hidden'  %>

      <br />

      <div class="actions">
        <%= ff.submit 'Submit Solution', id: 'submit-solution', class: 'btn btn-success' %>
      </div>
    <% end %>
  <% end %>
</div>
<%= javascript_include_tag "http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" %>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>