<div class="solutions-table">
<% present solution do |presenter| %>
  <div class="span12">
    <%= render partial: 'solutions/solution_vote_cell', locals: { presenter: presenter, solution: solution } %>

    <div class="language cell"><%= raw display_language(solution) %></div>
    <div class="title cell"><%= link_to(solution.title, challenge_solution_path(solution.challenge, solution)) %></div>
    <div class="username cell">
      <div class="user"><%= display_user(solution.user) %>
      <%= distance_of_time_in_words(solution.created_at, Time.now) %> ago.</div>
    </div>
    
    <% if can?(:manage, Solution) %>
      <div class="cell"><%= link_to 'Edit', edit_challenge_solution_path(solution.challenge, solution) %></div>
      <div class="cell"><%= link_to 'Destroy', challenge_solution_path(solution.challenge, solution), method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  </div>
  <div class="clear"></div>
  <hr />
<% end %>
</div>
