<% present solution do |presenter| %>
  <tr>
    <td class="vote-cell" rel="<%= solution.id %>">
      <% if user_signed_in? %>
        <%= presenter.up_vote_arrow %><br />
        <%= presenter.down_vote_arrow %>
      <% end %>
      <div><%= solution.positives.size %></div>
    </td>

    <td><%= link_to('View source', solution.solution_url) %></td>
    <td><%= solution.language %>
    <td><%= raw display_user(solution.user) %></td>
    <td><%= solution.valid_solution ? "Yes" : "No" %></td>
    <td><%= link_to('Click to view', challenge_solution_path(solution.challenge, solution)) %></td>
    
    <% if can?(:manage, Solution) %>
      <td><%= link_to 'Edit', edit_challenge_solution_path(solution.challenge, solution) %></td>
      <td><%= link_to 'Destroy', challenge_solution_path(solution.challenge, solution), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    
    <td><%= solution.created_at.to_time %></td>
  </tr>
<% end %>
