<hr />
<div class="solutions-table">
<% present solution do |presenter| %>
  <div class="span12">
    <div class="vote-cell" rel="<%= solution.id %>">
      <% if user_signed_in? %>
        <%= presenter.up_vote_arrow %><br />
        <%= presenter.down_vote_arrow %>
      <% end %>
      <div class="vote-count"><%= solution.positives.size %></div>
    </div>

    <div class="title cell"><%= link_to(solution.title, challenge_solution_path(solution.challenge, solution)) %></div>
    <div class="cell">some_user<%= raw display_user(solution.user) %></div>
    <!-- <td><%= solution.valid_solution ? "Yes" : "No" %></td> -->
    
    <% if can?(:manage, Solution) %>
      <div class="cell"><%= link_to 'Edit', edit_challenge_solution_path(solution.challenge, solution) %></div>
      <div class="cell"><%= link_to 'Destroy', challenge_solution_path(solution.challenge, solution), method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
    
    <div class="cell"><%= solution.created_at.to_time %></div>
  </div>
  <div class="clear"></div>
  <hr />
<% end %>
</div>
