<h3>Challenge</h3>

<div class="well">
  <p id="notice"><%= notice %></p>

  <h3><%= @solution.challenge.title %></h3>

  <% if @solution.challenge.gist_url.present? %>
    <p>
      <b>Url:</b>
      <%= link_to(@solution.challenge.gist_url, @solution.challenge.gist_url) %>
    </p>
  <% end %>

  <p>
    <strong>Description:</strong><br />
    <%= @solution.challenge.description %>
  </p>

  <p>
    <strong>Source:</strong><br />
    <%= @solution.challenge.source %>
  </p>
</div>

<h3>Solution</h3>

<hr />

<% present @solution do |presenter| %>
  <div class="solutions-table">
    <div class="span12">
      <%= render partial: 'solutions/solution_vote_cell', locals: { presenter: presenter, solution: @solution } %>

      <div class="title cell"><%= link_to(@solution.title, challenge_solution_path(@solution.challenge, @solution)) %></div>
      <div class="username cell">
        <div class="user"><%= display_user(@solution.user) %>
        <%= distance_of_time_in_words(@solution.created_at, Time.now) %> ago.</div>
      </div>
    </div>
  </div>
<% end %>

<hr />

<h4>Source</h4>

<pre class='prettyprint'>
<%= @solution.source %>
</pre>

<% if can?(:manage, Solution) %>
  <%= link_to 'Edit', edit_challenge_solution_path(@solution.challenge, @solution) %>
<% end %>

<br />

<p>
  <h4><%= link_to "<< Back to " + @solution.challenge.title, challenge_path(@solution.challenge) %></h4>
</p>

<hr />

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'weeklycodingchallenge'; 

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
