<p id="notice"><%= notice %></p>

<p>
  <b>Solution url:</b>
  <%= @solution.solution_url %>
</p>

<p>
  <b>Challenge:</b>
  <%= @solution.challenge_id %>
</p>

<p>
  <b>User:</b>
  <%= @solution.user_id %>
</p>

<p>
  <b>Valid solution:</b>
  <%= @solution.valid_solution %>
</p>

<p>
  <b>Source:</b>
  <pre class='prettyprint'>
    <%= @solution.source %>
  </pre>
</p>

<% if can?(:manage, Solution) %>
  <%= link_to 'Edit', edit_challenge_solution_path(@solution.challenge, @solution) %>
<% end %>

<br />

<p>
  <h4><%= link_to "<< Back to " + @solution.challenge.title, challenge_path(@solution.challenge) %></h4>
</p>

<hr />

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'weeklycodingchallenge'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
