<p id="notice"><%= notice %></p>

<p>
  <b>Solution url:</b>
  <%= @solution.solution_url %>
</p>

<p>
  <b>Challenge:</b>
  <%= @solution.challenge_id %>
</p>

<p>
  <b>User:</b>
  <%= @solution.user_id %>
</p>

<p>
  <b>Valid solution:</b>
  <%= @solution.valid_solution %>
</p>

<p>
  <b>Notes:</b>
  <%= @solution.notes %>
</p>

<% if can?(:manage, Solution) %>
  <%= link_to 'Edit', edit_challenge_solution_path(@solution) %>
<% end %>

<br />

<p>
  <h4><%= link_to "<< Back to " + @solution.challenge.title, challenge_path(@solution.challenge) %></h4>
</p>